<% if @users.blank? %>
    <h4><%= params[:search] %> does not match any user.</h4>    
<% end %>


<div class="users-list">
<ul>
    <% @users.each do |u| %>
        <%=image_tag(u.images.last)%>
       <li> <%=link_to u.name, user_path(u.id) %></li>
    <% end %>   
   </ul>
</div>
