<div class="about">
  <p class="quote">"Don't wait until you've reached your goal to be proud of yourself. Be proud of every step you take toward reaching that goal."
    - Unknown
  </p>
    <p class="about-body">Enjoy every step of the way to get to your goals with <b>Progress Tracker</b>. <br>
      Our app allows you to visually track your progress by uploading images to your profile.
      Progress Trackers are also able to view each other's profiles to see and get motivated by each other's progress process.
      In order to achieve anything new, you have to be committed to making progress. <%= link_to "Sign Up", new_user_path %> now and ensure this commitment.
    </p>
</div>

<div class="wrapper">
<% @images.each do |i| %>
    
    <div class="card card-index" style="width: 18rem;">
      <!-- <img class="card-img-top" src="<%# movie.img_url %>" alt="Card image cap"> -->
      <%= image_tag(i.image_url, class: "card-img-top") %>
    </div>

  <% end %>
</div>