@import 'bootstrap';

.header {
    background: rgba(255, 255, 255, 0.8);
    height: 70px;
    position: fixed;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
    z-index: 1;
    color: black;
    -webkit-box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.75);
}

.container {
    padding-top: 60px;
}

.n {
    float: left;
    width: 50%;
    font-size: 50px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 20px;
    font-style: italic;
    color: #2e323a;
}

.nav-item {
   line-height: 70px;
   font-size: 20px;
}

.nav-link {
    padding: 0 16px;
}

body {
    background : skyblue;
}

 .col {
    background-color: black;
    border: 1px solid white;
}
.w-100 {
    height: 50px;
}

.card {
   margin-left: 60px;
   margin-top: 50px;
   display: inline-block;
   height: auto;
   vertical-align: top;
   border-radius: 25px;
   border: 3px solid white;
   width: 18rem;
}

.card img {
    width: 100%;
    border-radius: 20px;
    
}

.card-img-bottom {
    color: #fff;
    height: 20rem;
    background: url(images/img1.jpg) center no-repeat;
    background-size: cover;
    }

.feeds-card {
    margin-left: 60px;
    margin-top: 50px;
    display: inline-block;
    height: auto;
    vertical-align: top;
    overflow: auto;
    max-height: 300px;
    border-radius: 10px;
    border: 3px solid black;
    width: auto;
    min-width: 800px;

    }

    .card-img-bottom {
        max-width: 200px;
        max-height: 300px;
    }

.home-wrapper {
    margin-left: 15%;
    margin-bottom: 40px;
    background-color:rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 15px;
    clear: both;
    border-radius: 10px;
    -webkit-box-shadow: 47px 14px 118px 9px rgba(0,0,0,0.75);
    -moz-box-shadow: 47px 14px 118px 9px rgba(0,0,0,0.75);
    box-shadow: 47px 14px 118px 9px rgba(0,0,0,0.75);
    color: #2e323a;
    font-weight: 500;
}

.spacer {
    width: 100%;
    height: 100px;
}

.home-image {
    float: left;
}

.home-image img {
    max-height: 300px;
}

.home-image-info {
    float: left;
    width: 320px;
    margin-left: 20px;
}

.home-image-username, .home-image-title {
    height: 75px;
}

.home-image-username {
    font-size: 45px;
}

.home-image-title {
    font-size: 30px;
}

.profile-each-image {
    width: 23%;
    min-height: 400px; 
    float: left;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8);
    color: #2e323a;
    font-weight: 500;
    margin-left: 22px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 11px 11px 13px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 13px -2px rgba(0,0,0,0.75);
    box-shadow: 11px 11px 13px -2px rgba(0,0,0,0.75);
}

.name-edit-add {
    float: right;
}


.profile-wrapper {
    width: 100%;
    clear: both;
    height: 100px;
}

.profile-image {
    width: 100%;

}

.name-edit-add div {
    float: right;
    margin-right: 5px;
    line-height: 50px;
}

.profile-name {
    font-size: 50px;
    float: left;
    padding-left: 22px;
    color: #414263;
    font-size: 4.0rem;
}

.edit-profile-btn {
    margin-top: 7px;
}

.profile-card img {
    margin: 0 auto;
    display: block;
    max-width: 95%;
    border-radius: 10px;
}

.profile-card {
    margin-bottom: 40px;
}

.profile-image-wrap {
    margin: 0 auto;
    width: 100%;
    display: block;
}

.edit-delete div {
    display: inline-block;
    
}

.edit-delete {
    width: 60%;
    margin: 0 auto;
    bottom: 0;
    position: absolute;
    padding-left: 15px;
    padding-bottom: 10px;
}

.profile-date {
    padding-left: 8px;
}


.current-image-wrapper {
    width: 50%;
    background-color:rgba(255, 255, 255, 0.8);
    float: left;
    color: #2e323a;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 40px;
}

.current-image-spacer {
    width: 25%;
    height: 100px;
    float:left; 
}

.current-image img {
    width: 96%;
    margin-left: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.current-image-info div {
    display: block;
    padding-bottom: 10px;
    padding-left: 17px;
}

.current-date-edit {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    height: 45px;
    clear: both;
    line-height: 45px;
}
.current-image-date {
    float: left;
    padding-left: 17px;
}

.current-image-edit {
    float: right;
    padding-right: 17px;
}

a {
    color: #1a58d4;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

a:hover {
    color: black;
    font-style: italic;
    
}

.about {
    color: #2e323a;
    font-weight: 500;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 0px 48px 24px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 48px 24px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 48px 24px rgba(0,0,0,0.75);
}

.quote {
    font-style: italic;
}

.search-form {
    margin-top: 20px;
}

.users-list li {
    font-size: 30px;
    text-decoration: underline;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 20px;
}

.form-group label {
    font-weight: 500;
    font-size: 25px;
}

h1 {
    font-size: 50px;
    font-weight: 600;
    color: black;
    padding-bottom: 20px;
}

#emailHelp {
    font-size: 20px;
    color: black !important;
    font-style: italic !important;
}

#passHelp {
    font-size: 20px;
    color: black !important;
    font-style: italic !important;
}

.new-background{
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: black;
    -webkit-box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
}

.edit-background {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: black;
    -webkit-box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
}

.singup-background {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    color: black;
    -webkit-box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
}

.login-background {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    color: black;
    -webkit-box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
    box-shadow: 2px 0px 57px 29px rgba(0,0,0,0.75);
}