
<% @images.each do |i| %>
<% if logged_in? %>

  <div class="home-wrapper">
    <div class="home-image">
        <%= image_tag(i.file.url) %>
    </div>

    <div class="home-image-info">
        <div class="home-image-username">
        <p><%= link_to i.user.username, user_path(i.user_id)%></p>
      </div>
      <div class="home-image-title">
        <p><%= i.title%></p>
      </div>
      <div class="home-image-description">
        <p><%= i.description %></p>
      </div>
    </div>
  </div>
<%else%>
redirect_to pages_path
<%end%>
<% end %>